* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
h1{
    color: green;
}
h2 {
    color: green;
}

#economy h2{
    color: gold;
}

.creation-date {
    color: #ccc;
} */

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
.container {
    width: 1366px;
    margin: 0 auto 0 auto;

}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 100px; */
    width: 100%;
}
.articles article{
    width: 30%;
}

header .container{ 
    display:flex; /* deixa o cabeçalho (h1 e links) em flex */
    align-items: center; /* deixa os links do cabeçalho centralizado com a caixa box dele*/
    justify-content: space-between;
}

header li a {
    color: #f5f6fa;
    text-decoration: none; /* remove o underline  */
}

body > header { /* > seleciona o filho direto da tag*/
    background-color: #2f3640;
    padding: 16px 0; /*espaçamento do cabeçalho */
    color: #f5f6fa;
}
section {
    padding: 16px 0; /*espaçamento das seções*/
}

section h2,
.articles article {
    margin-bottom: 16px; /*margin no canto inferior, margem em separação das seções*/
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a { /* (a) propriedade padrão inline*/
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none; /* tag (a) vem underline por padrao, aqui mechemos nos botões */
    font-weight: bold; /* peso da fonte (negrito) */
    margin-top: 8px;
}

.articles article a:hover {   /* (:)seleciona um estado do elemento, elemento (a), hover cria a estilo quando o mouse passa por cima do link */
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

.section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1)
}
#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#gastronomy {
    background-color: rgb(238, 152, 152);
}

#gastronomy .articles article a {
    background-color: rgb(233, 55, 55);
}

#climate {
    background-color: #bac5d3;
    
}

#climate .articles article a {
    background-color: #6582aa;
}

#gastronomy img {
    height: 300px;
}
